<div class="row">
    <div class="col-12">
        <p>Ajouter</p>
    </div>

    <!-- <div class="alert alert-info col-md-6 text-center" *ngIf="addForm.dirty" role="alert">
      <p>You have made changes. Any unsaved changes will be lost.</p>
    </div> -->
    <div class="col-12 pb-5">
    <form [formGroup]='addForm' (ngSubmit)="addProperty()" autocomplete="off"  class="row g-3">

        <div class="col-md-6">
            <label for="price"  class="form-label">Prix</label>
            <input type="text" 
            [class.is-invalid]='addForm.get("price")?.errors && addForm.get("price")?.touched'
            class="form-control" id="price" formControlName='price' placeholder="price">
            <div class="invalid-feedback">Veuillez saisir un prix.</div>
        </div>

        <div class="col-md-6">
            <label for="bedRooms" class="form-label">Chambres</label>
            <select [class.is-invalid]='addForm.get("bedRooms")?.errors && addForm.get("bedRooms")?.touched' formControlName='bedRooms' class="form-select">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
            <div class="invalid-feedback">Veuillez choisir le nombre de chambres.</div>
          </div>

        <div class="col-md-6">
          <label for="bathRooms" class="form-label">Salle de bains</label>
          <select  [class.is-invalid]='addForm.get("bathRooms")?.errors && addForm.get("bathRooms")?.touched' formControlName='bathRooms' class="form-select">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
          <div class="invalid-feedback">Veuillez choisir le nombre de salles de bains.</div>
        </div>

        <div class="col-md-6">
            <label for="garage" class="form-label">Garages</label>
            <select [class.is-invalid]='addForm.get("garage")?.errors && addForm.get("garage")?.touched' formControlName='garage' class="form-select">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <div class="invalid-feedback">Veuillez choisir le nombre de garages.</div>
          </div>

          <div class="col-md-6">
            <label for="agentId" class="form-label">Agent Immobilier</label>
            <select [class.is-invalid]='addForm.get("agentId")?.errors && addForm.get("agentId")?.touched' formControlName='agentId' class="form-select">
              <option *ngFor="let member of members;" [value]=member.id>{{member.email}}</option>
            </select>
            <div class="invalid-feedback">Veuillez choisir un agent immobilier.</div>
          </div>

          
        <div class="col-md-6">
            <label for="propertyTypeId" class="form-label">Type de bien</label>
            <select [class.is-invalid]='addForm.get("propertyTypeId")?.errors && addForm.get("propertyTypeId")?.touched' formControlName='propertyTypeId' class="form-select">
              <option *ngFor="let propertyType of propertyTypes;" [value]=propertyType.id>{{propertyType.name}}</option>
            </select>
            <div class="invalid-feedback">Veuillez choisir un type de bien.</div>
          </div>

        <div class="col-md-6">
          <label for="cityId"  class="form-label">Ville</label>
          <select [class.is-invalid]='addForm.get("cityId")?.errors && addForm.get("cityId")?.touched' formControlName='cityId' class="form-select">
            <option *ngFor="let city of cities;" [value]=city.id>{{city.name}}</option>
          </select>
            <div class="invalid-feedback">Veuillez entrer une ville.</div>
        </div>


        <div class="col-md-6">
          <label for="countryId" class="form-label">Pays</label>
          <select [class.is-invalid]='addForm.get("countryId")?.errors && addForm.get("countryId")?.touched' formControlName='countryId' class="form-select">
            <option value="1">R.D. Congo</option>
            <option value="2">Afrique du Sud</option>
          </select>
        </div>

        <div class="col-md-12">
            <label for="description"  class="form-label">Description</label>
            <textarea 
            [class.is-invalid]='addForm.get("description")?.errors && addForm.get("description")?.touched' 
            class="form-control" formControlName='description' rows="5" placeholder="description"></textarea>
          </div>

          <div class="col-md-6">
            <label for="youtubeLink"  class="form-label">Vidéo Youtube</label>
            <input type="text" 
            [class.is-invalid]='addForm.get("youtubeLink")?.errors && addForm.get("youtubeLink")?.touched'
            class="form-control" id="youtubeLink" formControlName='youtubeLink' placeholder="youtubeLink">
            <div class="invalid-feedback">Entrez un lien YouTube.</div>
        </div>

        <div class="col-md-6" hidden>
            <input type="text" [(ngModel)]="user.id" formControlName='appUserId' class="form-control">
          </div>

        <div class="col-md-12">
          <button type="submit" name="submit" id="submit" class="btn btn-primary ">Enregistrer</button>
        </div>
      </form>
      </div>
    </div>

