<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-6 text-center m-4">
        <h6>Details</h6>
      </div>
    </div>
    <div class="card" *ngIf="member">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{member.email}}</h5>
        <h5 class="card-title">{{member.username}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{member.phone}}</li>
        <li class="list-group-item">Genre : {{member.gender}}</li>
        <li class="list-group-item">Date d'adhésion : {{member.dateOfBirth | date: 'dd MMM yyyy'}}</li>
      </ul>

    </div>
  </div>

  <div class="col-md-6" *ngIf="member">
    <div class="row">
      <div class="col-12 text-center m-4">
        <h6>Live Chat</h6>
      </div>
    </div>
    <app-member-messages [email]="member.email" [messages]="messages"></app-member-messages>
  </div>
</div>