<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 ">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Kiboko House</h1>
        <p class="col-lg-10 fs-4">Veuillez saisir votre nouveau mot de passe.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-6">
        <form [formGroup]='newPasswordForm' (ngSubmit)="newPasswordForm.valid && newPassword()" autocomplete="off" class="p-4 p-md-5 border rounded-3 bg-light">

          <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input [class.is-invalid]='newPasswordForm.get("password")?.errors && newPasswordForm.get("password")?.touched'
              type="password" class="form-control" formControlName='password' placeholder="Mot de passe">
            <div *ngIf="newPasswordForm.get('password')?.hasError('required')" class="invalid-feedback">Veuillez entrer un mot de passe.
            </div>
            <div *ngIf="newPasswordForm.get('password')?.hasError('minlength')" class="invalid-feedback">Le mot de passe doit contenir au moins 6 caractères et doit contenir au moins 1 lettre majuscule et 1 lettre minuscule.</div>
            <!-- <div *ngIf="newPasswordForm.get('password')?.hasError('maxlength')" class="invalid-feedback">Please must be at
              most 12
              characters.</div> -->
          </div>
  
          <div class="form-group">
            <label for="password">Confirmez le mot de passe</label>
            <input
              [class.is-invalid]='newPasswordForm.get("confirmPassword")?.errors && newPasswordForm.get("confirmPassword")?.touched'
              type="password" class="form-control" formControlName='confirmPassword' placeholder="Confirmez le mot de passe">
            <div *ngIf="newPasswordForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Veuillez confirmer
              le
              mot de passe.</div>
            <div *ngIf="newPasswordForm.get('confirmPassword')?.hasError('minlength')" class="invalid-feedback"></div>
            <!-- <div *ngIf="newPasswordForm.get('confirmPassword')?.hasError('maxlength')" class="invalid-feedback">Please must
              be at
              most 12 characters.</div> -->
              <div class="invalid-feedback" *ngIf="(newPasswordForm.get('password').value !== newPasswordForm.get('confirmPassword').value)">
                Les 2 mot de passes doivent correspondre.
              </div>
          </div>

          <div class="col-md-6" hidden>
            <input type="text" [(ngModel)]="email" formControlName='email' class="form-control">
          </div>

          <div class="col-md-6" hidden>
            <input type="text" [(ngModel)]="resetToken" formControlName='resetToken' class="form-control">
          </div>
  
  
          <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
              <li *ngFor="let error of validationErrors">
                {{error.description}}
              </li>
            </ul>
          </div>
  
          <div class=" pt-3">
            <button [disabled]='!newPasswordForm.valid' type="submit" class="w-100 btn btn-lg  btn-success">Réinitialiser</button>
            <hr class="my-4">
            <small class="text-muted">En cliquant sur S'inscrire, vous acceptez les conditions d'utilisation.</small>
            <hr class="my-4">
            <button type="button" class="w-100 btn btn-lg  btn-default" routerLink="/">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  