.ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
    width: 100% !important;
    height: 600px !important;
}


.imgholder {position:relative; z-index:1;}

.soldicon {position:absolute;
    z-index:2;
    top:0; 
    left:0;
width:177px; 
    height:138px;
    background:url(http://www.flq.co.nz/images/icon-sold.gif) no-repeat top left;
}

.sold .soldicon {display:block!important;}

.soldicon {display:none;}
