<div class="container">
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <p class="col-lg-10 fs-4">Welcome to your IT Career Advisor.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-6">
            <form [formGroup]='loginForm'
                (ngSubmit)="loginForm.valid && login()" autocomplete="off" class="p-4 p-md-5 border rounded-3 bg-light">

                <div class="form-group">
                    <label for="username">Student number: (required)</label>
                    <input type="text"
                      [class.is-invalid]='loginForm.get("username")?.errors && loginForm.get("username")?.touched'
                      class="form-control" placeholder="Student Number" formControlName='username'>
                    <div class="invalid-feedback">Please enter a username.</div>
                  </div>

                <div class="form-group">
                    <label for="email">Email: (required)</label>
                    <input type="text"
                        [class.is-invalid]='loginForm.get("email")?.errors && loginForm.get("email")?.touched'
                        class="form-control" placeholder="Email" formControlName='email'>
                    <div class="invalid-feedback">Please enter an email.</div>
                </div>

                <div class="row" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>

                <div class=" pt-3">
                    <button [disabled]='!loginForm.valid' type="submit" class="w-100 btn btn-lg btn-success ">Login</button>


                    <p class="text-center text-info">Don't have an Account? click on Create Account</p>

                    <hr class="my-4">
                    <button class="w-100 btn btn-lg  btn-primary" type="button" routerLink='/register'>Create Account</button>
                </div>

            </form>

        </div>
    </div>
</div>
