<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 ">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Kiboko House</h1>
            <p class="col-lg-10 fs-4">Réinitialisez votre mot de passe.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-6">

            <form [formGroup]='resetPasswordForm'
                (ngSubmit)="resetPasswordForm.valid && resetpassword()" autocomplete="off" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-group">
                    <label for="email">Adresse e-mail</label>
                    <input type="text"
                        [class.is-invalid]='resetPasswordForm.get("email")?.errors && resetPasswordForm.get("email")?.touched'
                        class="form-control" placeholder="Entrez l'e-mail" formControlName='email'>
                    <div class="invalid-feedback">Veuillez saisir un e-mail.</div>
                </div>

                <div class="row" *ngIf="validationErrors.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of validationErrors">
                            {{error}}
                        </li>
                    </ul>
                </div>

                <div class=" pt-3">
                    <button [disabled]='!resetPasswordForm.valid' type="submit" class="w-100 btn btn-lg btn-primary ">Réinitialisez</button>

                    <!-- <hr class="my-4">
                    <button type="submit"
                        class="w-100 btn btn-lg btn-danger" routerLink="/register">Sign Up</button> -->

                    <hr class="my-4">
                    <button type="button" class="w-100 btn btn-lg  btn-default" routerLink="/">Annuler</button>
                    <button class="w-100 btn btn-lg  btn-default text-primary" type="button" routerLink='/register'>Créer un compte</button>

                </div>

            </form>

        </div>
    </div>

    <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h3 id="dialog-auto-name" class="modal-title pull-left">Regardez dans votre boîte de réception</h3>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nous avons envoyé un e-mail avec des instructions pour réinitialiser votre mot de passe à l'adresse e-mail que vous nous avez indiquée.</p>
                <p>Vous ne trouvez pas l'e-mail ? Regardez dans votre dossier de courrier indésirables.</p>
            </div>
            </div>
        </div>
    </div>
</div>
